apiVersion: v1
kind: Service
metadata:
  name: appointment-service
spec:
  type: LoadBalancer
  selector:
    app: appointment-service
  ports:
    - protocol: TCP
      port: 80        # Exposed port
      targetPort: 3001 # Container port
